body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer {
    margin-top: auto;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.chat-message {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
    display: inline-block;
}
.chat-message-left {
    background-color: #f1f0f0;
}
.chat-message-right {
    background-color: #007bff;
    color: white;
}