<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
      <a class="navbar-brand" href="/">AI Tools</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'remove_background' %}">BG Rmove</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'text_to_speech' %}">Text to Speech</a>
            </li>
        </ul>
            {% comment %} <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'create_group_chat' %}">Create Group Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account' %}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'membership' %}">Membership</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog_list' %}">Blogs</a>
                </li>
            </ul>
        
          <ul class="navbar-nav">
              {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'custom-logout' %}">Logout</a>
                    </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
              {% endif %}
          </ul> {% endcomment %}
      </div>
  </div>
</nav>